<div class="card">
    <div class="card-body">
        <h5 class="card-title">About Khusi</h5>
        <p class="card-text">Khusi Online Learning is a platform for students and faculty to learn
            online.
            Khusi Online Learning is a platform for students and faculty to learn online.</p>
    </div>
</div>